.App {
  text-align: center;
  text-decoration: none;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  font-size: 16px;
  font-family: 'Sen', sans-serif;
}

@media screen and (max-width: 500px) {
  html {
    font-size: 10px;
  }
}

.logobb{
  height: 130px;
  width: 170px;

}

.title-body {
  height: 75vh;
}


.title-header {
  padding: 4vh;
}

.title-text {
  padding: 4vh;
}

.navbar {
  background-color: #F40102;
  
  text-decoration: none;
}

.navbar-header {
width: 100%;
   width: 100vw;
}

.menubutton {
  padding-left: 23vw;
  font-size: 2.5vh;
}


.navbar-list {
  background-color: #F40102;
  text-decoration: none;
  text-decoration-color: #F40102;
  color: #F40102;
}


.homeList, .aboutList {
   width: 50vw;
}

.homeLink, .aboutLink{
  color: white;
  text-align: center;
  font-size: 30px;
  position: relative;
}
.navLogo {
  align-content: center;
    width: 193px;
    height: 145px;
    position: absolute;
    left: 5vw;

}



.comboList {
  color: white;
  font-family: 'Sen', sans-serif;

}

.hamburgerList {
text-decoration: none;
}

.alacarteList {
text-decoration: none;
}

.hotdogList {
text-decoration: none;
}

.breakfastList {
text-decoration: none;
}

.dessertList {
text-decoration: none;
}


.drinkList {
  text-decoration: none;
}

.categories {
  text-decoration: none;
}


.hamburgerLink {
  text-decoration: none;
}

ul li::marker {
  text-decoration: none;
}

.homeLink {
  position: relative;
  right: 6vw;
  top: 5vh;
  
}

.aboutLink {
  position: relative;
  left: 4vw;
  bottom: 3.4vh;
}

/*Desktops and Laptops*/
@media only screen and (min-width:1224px){
   .menu-pic {
  height: 400px;
  width: 500px;
}

}

/*Smartphones*/
@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
 .menu-pic {
  height: 250px;
  width: 300px;
}

.logobb{
  height: 100px;
  width: 125px;
}

.navLogo {
  align-content: center;
  position: relative;
right: 35vw; top: 2vw;
width: 100px;
height: 75px;
}

.homeLink, .aboutLink{
  color: white;
  text-align: center;
  font-size: 15px;
}

}
