.App {
  text-align: center;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  font-size: 16px;
  font-family: 'Roboto', sans-serif;
}

@media screen and (max-width: 500px) {
  html {
    font-size: 10px;
  }
}


.logobb{
  height: 130px;
  width: 170px;

}

.title-body {
  height: 75vh;
}

.menu-pic {
  height: 50vh;
  width: 40vw;
}

.navbar {
  margin-top: -10px;
  background-color: #F40102;
  text-align: center;
}

.menubutton {
  padding-left: 23vw;
  font-size: 2.5vh;
}
